@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://unpkg.com/@phosphor-icons/web@2.1.2/src/light/style.css");
@import url("https://unpkg.com/@phosphor-icons/web@2.1.2/src/regular/style.css");
@import url("https://unpkg.com/@phosphor-icons/web@2.1.2/src/bold/style.css");

:root {
    --color-principal: #e4004f;
    --color-principal-posado-00: #af023e;
    --color-principal-posado-01: #f02269;
    --color-principal-presionado-00: #770029;
    --color-principal-presionado-01: #cf0048;
    --color-principal-presionado-02: #e9aac0;
    --color-principal-suave: #fce4e4;
    --color-primario-texto: #38414a;
    --color-titulos: #1b1e1f;
    --color-enlaces: #004ac3;
    --color-neutral-00: #fff;
    --color-neutral-01: #fcfcfc;
    --color-neutral-02: #efefef;
    --color-neutral-03: #f8f9fa;
    --color-neutral-04: #f3f2f3;
    --color-neutral-05: #2b2b2b;
    --color-neutral-06: #272b30;
    --color-neutral-07: rgb(56 65 74 / 30%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background: var(--color-neutral-04);
    overflow: hidden scroll;
    color: var(--color-primario-texto);
    font-family: "Noto Sans", sans-serif;
}

.negrita {
    font-weight: 600;
}

.contenedor-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url("../assets/img/home.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
}

/* Enlaces */
a {
    color: var(--color-enlaces);
}

a:hover {
    color: var(--color-principal-posado-00);
}

a:active {
    color: var(--color-principal-presionado-00);
}

h1, h2, h3 {
    color: var(--color-titulos);
}